<div data-role="view"
     id="add-reminder-view"
     data-layout="main-layout"
     data-title="Add Reminder"
     data-show="app.addReminder.init">

    <div>
        <label>Category</label>
        <select style="width:1px;" id="categories-list" data-role="dropdownlist"
                data-bind="source: categories"
                data-text-field="Name"
                data-value-field="Id">
        </select>
    </div>
    <div>
        <label>
            Reminder Name
            <input type="text" data-bind="value: name"/>
        </label>
    </div>
    <div id="accociated-contacts">

        <div id="add-contact">
            <select id="contacts-list"></select>

            <input type="button"
                   data-role="button"
                   class="button"
                   data-bind="click: addContact"
                   value="Add Contact" />
        </div>
    </div>
    <div>
        Reminder Date
        <input type="datetime-local" data-bind="value: toBeCompletedOn" />
    </div>
    <div>
        Reminder Description <textarea data-bind="value: description"></textarea>
    </div>
    <div>
        Add Picture to Reminder
        <button data-bind="click: addImage">Take Picture</button>
    </div>
    <button data-bind="click: addReminder">Add Reminder</button>
</div>