<div data-role="view" id="reminders-view" data-id="reminders-view"
     data-title="Reminders" data-layout="main-layout"
     data-show="app.reminders.init">

    <div id="categories-container">
        <label>Category</label>
        <select style="width:1px;" id="categories-list" data-role="dropdownlist"
                data-bind="source: categories, events: { change: change}"
                data-text-field="Name"
                data-value-field="Id">
        </select>
    
    <a data-role="button" class="button add-button" href="views/add-reminder-view.html#add-reminder-view">Add reminder</a>
    </div>

    <div id="events">
        <h1 data-bind="text: selectedCategory.name" data-align="center"></h1>
        <ul data-role="listview" data-bind="source: selectedCategory.reminders" data-template="reminders-template"></ul>
    </div>
</div>

<script id="reminders-template" type="text/x-kendo-template">
    <li>
        <a data-rel="external" style="display:block;" href="\#" data-bind ="events: {click: reminderDetails}" >#: name #</a>
    </li>
</script>